.run-example {
    font-size: 200%;
}

.sandbox_type_fullscreen {
    line-height: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    border: 0 none;
}

.slide {
    overflow: hidden;
}

.ball {
    position: relative;

    width: 100px;
    height: 100px;

    border-radius: 50px;
    background: #000;
}

section.slide h2 {
    display: inline-block;

    background: rgba(255,255,255,.7);
}

section.slide.cover h2 {
    margin-bottom: 37px;
}

.slide.cover h2 {
    position: absolute;
    bottom: 0;
}

.slide pre.l-10 code {
    font-size: 70%;
}

.slide pre.l-9 code {
    font-size: 75%;
}

.slide pre.l-8 code {
    font-size: 90%;
    line-height: 190%;
}

.slide pre code.active,
.slide pre code span.active {
    font-weight:normal;

    margin:0;

    color:#FFF;
    background:#C00;
}

.slide pre code span.active {
    margin-left: -5px;
    padding: 5px;

    border-radius: 8px;
}

.slide pre.relative {
    position: relative;
}

.full .slide pre.next,
.full .slide img.next {
	opacity:0;
	}
.full .slide pre.next.active,
.full .slide img.next.active {
	-webkit-transition:opacity 0.5s linear;
	-moz-transition:opacity 0.5s linear;
	-ms-transition:opacity 0.5s linear;
	-o-transition:opacity 0.5s linear;
	transition:opacity 0.5s linear;

	opacity:1;
	}

.slide pre.console {
   	font-family: 'PT Mono', monospace;
    font-size: 120%;
   	line-height:1;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    overflow-y: auto;

    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 30px 0 0 30px;

   	-moz-tab-size:4;
   	-o-tab-size:4;
   	tab-size:4;

   	color:#fff;
   	-webkit-border-radius:0;
   	-moz-border-radius:0;
    border-radius:0;
    background: rgba(0,0,0,.8);

   	-webkit-tab-size:4;
}

.slide pre.console code::before {
    content: '';
}

.slide pre.console code {
    color:#fff;
}

button.run {
    font-size: 100%;

    position: absolute;
    right: 100px;
    bottom: 100px;

    padding: 5px 20px;
}

button.run  {
    color: #4A4A4A;
    border: 1px solid #B2B2B2;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #8F8F8F;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(100% 100% 90deg, #E0E0E0, #F6F6F6);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F6F6F6), to(#E0E0E0));
    -webkit-box-shadow: 0 1px 0 #C0C0C0, 0 2px 0 #BFBFBF, 0 3px 0 #BBBBBB, 0 4px 0 #B0B0B0, 0 5px 5px rgba(0,0,0,0.25), inset 0 0 2px 1px rgba(255,255,255,0.9);
    -moz-box-shadow: 0 1px 0 #C0C0C0, 0 2px 0 #BFBFBF, 0 3px 0 #BBBBBB, 0 4px 0 #B0B0B0, 0 5px 5px rgba(0,0,0,0.25), inset 0 0 2px 1px rgba(255,255,255,0.9);
    box-shadow: 0 1px 0 #C0C0C0, 0 2px 0 #BFBFBF, 0 3px 0 #BBBBBB, 0 4px 0 #B0B0B0, 0 5px 5px rgba(0,0,0,0.25), inset 0 0 2px 1px rgba(255,255,255,0.9);
    text-shadow: 0 1px 0 white;
}
button.run:after {
    background-image: -moz-linear-gradient(100% 100% 90deg, #8F8F8F, #C9C9C9);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), to(#8F8F8F));
}
button.run:before {
    background-image: -moz-linear-gradient(100% 100% 90deg, #8F8F8F, #C9C9C9);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), to(#8F8F8F));
}
button.run:hover {
    color: black;
    -webkit-box-shadow: 0 1px 0 #C0C0C0, 0 2px 0 #BFBFBF, 0 3px 0 #BBBBBB, 0 4px 0 #B0B0B0, 0 5px 9px rgba(0,0,0,0.3), inset 0 0 2px 1px rgba(255,255,255,0.9);
    -moz-box-shadow: 0 1px 0 #C0C0C0, 0 2px 0 #BFBFBF, 0 3px 0 #BBBBBB, 0 4px 0 #B0B0B0, 0 5px 9px rgba(0,0,0,0.3), inset 0 0 2px 1px rgba(255,255,255,0.9);
    box-shadow: 0 1px 0 #C0C0C0, 0 2px 0 #BFBFBF, 0 3px 0 #BBBBBB, 0 4px 0 #B0B0B0, 0 5px 9px rgba(0,0,0,0.3), inset 0 0 2px 1px rgba(255,255,255,0.9);
}
button.run:active {
    -webkit-box-shadow: 0 1px 0 #BBBBBB, 0 2px 0 #B0B0B0, 0 3px 5px rgba(0,0,0,0.25), inset 0 0 2px 1px rgba(255,255,255,0.9);
    -moz-box-shadow: 0 1px 0 #BBBBBB, 0 2px 0 #B0B0B0, 0 3px 5px rgba(0,0,0,0.25), inset 0 0 2px 1px rgba(255,255,255,0.9);
    box-shadow: 0 1px 0 #BBBBBB, 0 2px 0 #B0B0B0, 0 3px 5px rgba(0,0,0,0.25), inset 0 0 2px 1px rgba(255,255,255,0.9);
}
button.run.pressin:active {
    background-image: -moz-linear-gradient(100% 100% 90deg, #F6F6F6, #E0E0E0);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0E0E0), to(#F6F6F6));
}

.slide.last h2 {
    position: absolute;
    bottom: 50px;
}

.slide.last .info {
    position: absolute;
    left: 50%;

    width: 50%;
}

.slide.last .info .author {
    margin: 0;
}

.full .slide.last
{
	z-index:1;
}
.full .slide.last:after
{
    content:'';
}

.slide.last .author.social {
    margin-left: -118px;
}

.slide.last .author.social a {
    margin-left: 5px;

    border: none;
}

.slide.last .author.social a img {
    margin: 0;
    padding: 0;

    vertical-align: middle;
}

.slide.qr-code {
    text-align: center;
}

.slide.qr-code img {
    height: 80%;

    -ms-interpolation-mode: nearest-neighbor;

    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.slide.qr-code a {
    font-family: 'PT Mono', monospace;
    font-size: 80px;
    line-height: 160%;

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;

    text-align: center;

    color: #fff;
    border: none;
}

.slide.first h2 {
    background: none;
}

.slide .garmoshka .bellows {
    z-index: 0;
}

.mem-title {
    font-size: 100px;
    line-height: 100%;

    text-align: center;
}

.slide pre .tag {
    background: none;
}

.slide.slide_type_console {
    color: #fff;
    background: #000;
}

.slide.slide_type_console h2 {
    font-family: "Courier New", monospace;

    background: none;
}


.hidden {
    display: none;
}


img.img-cover{
    width: 100%;
    margin-top: 100px;
}
.slide pre code {
    line-height: 42px;
}
.slide>div {
    padding-top: 90px;
}

.slide ol{
    font-size: 30px;

    margin-top: 80px;
}


.cover h2 {
    font-size:70px;

    margin:30px 0 0;

    text-align:center;

    color:#FFF;
}
.cover p {
    font-size:20px;
    font-style:italic;

    margin:10px 0 0;

    text-align:center;

    color:#FFF;
}
.cover p a {
    color:#FFF;
}


.slide h2{
    position: absolute;
    position: static;
    top: 100px;
    left: 0;

    margin: 0 0 37px;
    padding: 0 !important;
}

.cover img
{
    width: 100%;

    background-size: cover;
}

.cover>div
{
    height: 550px;
}

.image-cover
{
    width: 90%;
}

ul.second li
{
    font-size: 20px;
}

.small code
{
    font-size: 18px;
}

h2.bottom
{
    line-height: 74px;

    top: auto;
    right: 20px;
    bottom: 100px;
    left: auto;

    color: black;
}

h2.normal
{
    font-weight: normal;
}

a.bottom
{
    font-size: 35px;

    position: absolute;
    right: 100px;
    bottom: 200px;
}